bin/
obj/
publish/


/packages/
riderModule.iml
packages/
*.nuget.props
*.nuget.targets

/_ReSharper.Caches/
.idea/
.shelf/

.vs/

*.user
*.userosscache
*.sln.docindex
.vsconfig

*.trx
*.coverage
*.opencoverxml

.DS_Store
Thumbs.db
*.log
*.tmp
*.cache

test_*.xml
temp_*.xml
